@using Student_Supervisor_Data_Access.DataManager;
@using Student_Supervisor_Logic.Models;
@inject IDataManager dataManager
@inject NavigationManager navManager

@page "/AppointmentsConfirmation/{AppointmentId}"

<h3>AppointmentConfirmation</h3>

@code {

}
