@using Student_Supervisor_Data_Access.DataManager;
@using Student_Supervisor_Logic.Models;
@inject IDataManager dataManager
@inject NavigationManager navManager

@page "/SupervisorHomePage/{StaffNumber}"

<h3 class="pageTitle" >Welcome @supervisor!.FirstName</h3>

@foreach(var student in supervisor!.Students)
{
    <div class="studentBox">
        <div class="studentBoxInfo">
            <h6>Student Number: @student.StudentNumber</h6>
            <h6>Name: @student.FirstName @student.LastName</h6>
            <h6>Wellbeing Score: @student.WellbeingScore</h6>
        </div>
        <div class="ButtonBox">
            <button class="btn btn-outline-light btn-lg text-uppercase" @onclick="() => OpenDetails(student)">View Profile</button>
        </div>
    </div>
}


<div class="manage-app-div">
    <button class="btn btn-outline-light btn-lg text-uppercase" @onclick="() => OpenAppointmnets(supervisor)">Manage Appointments</button>
</div>








@code {

    [Parameter]
    public string? StaffNumber { get; set;}

    private List<SeniorTutorModel>? seniorTutors;
    private List<PersonalSupervisorModel>? personalSupervisors;
    PersonalSupervisorModel? supervisor;

    protected override void OnInitialized()
    {
        seniorTutors = dataManager.DeserializeSeniorTutorModelFromFile("C:\\Users\\ssmal\\source\\repos\\Student Supervison App\\Student Supervison App Library\\XmlFiles\\Database.xml");
        personalSupervisors = seniorTutors[0].PersonalSupervisors;
        supervisor = personalSupervisors.FirstOrDefault(s => s.StaffNumber == StaffNumber);
    }

    private void OpenDetails(StudentModel student)
    {
        navManager.NavigateTo($"/Details/{student.StudentNumber}");
    }


    private void OpenAppointmnets(PersonalSupervisorModel personalSupervisor)
    {
        navManager.NavigateTo($"/Appointments/{personalSupervisor.StaffNumber}");
    }
}
